<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">-->
    {%  if title %}
    <title>Recognition Lock - {{ title }}</title>
    {%  else %}
    <title> Ai Faical Recognition Lock</title>
    {%  endif %}
</head>
<body>
    <H1>Homepage</H1>
    <header class="site-header"></header>
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Logs </a>
                <a class="nav-item nav-link" href="/adduser">Users</a>
            </div>
      </nav>
</body>
</html>